{% extends "base.html" %}

{% block title %}Moji projekti{% endblock title %}

{% block navigacija %}
          <ul class="nav navbar-nav">
            <li><a href="/">O meni</a></li>
            <li><a href="blog">Blog</a></li>
            <li  class="active"><a href="mojiProjekti">Moji projekti</a></li>
            <li><a href="kontakt">Kontakt</a></li>
          </ul>
{% endblock navigacija %}

{% block specifika %}
        <h1>Moji Projekti</h1>
        {% if sporocilo %}
          <p>{{sporocilo}}</p>
        {% else %}
          <p>Napaka</p>
        {% endif %}</p>
{% endblock specifika %}
