{% extends "base.html" %}

{% block title %}O meni{% endblock title %}

{% block navigacija %}
          <ul class="nav navbar-nav">
            <li  class="active"><a href="/">O meni</a></li>
            <li><a href="blog">Blog</a></li>
            <li><a href="mojiProjekti">Moji projekti</a></li>
            <li><a href="kontakt">Kontakt</a></li>
          </ul>
{% endblock navigacija %}

{% block specifika %}
        <h1>O meni</h1>
        {% if sporocilo %}
          <p>{{sporocilo}}</p>
        {% else %}
          <p>Napaka</p>
        {% endif %}</p>
{% endblock specifika %}

